[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wave = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
bitarray = "*"
bitstring = "*"

[requires]
python_version = "3.7"
